### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from datetime import datetime 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

# Read Ironore_price_market_index_test.csv File and store into Pandas data frame

perth_data = pd.read_csv('Outputs/perth_iron_housing.csv')
sydney_data = pd.read_csv('Outputs/sydney_iron_housing.csv')
complete_data = pd.read_csv('Outputs/complete_house_commodities.csv')
three_bed_data = pd.read_csv('Outputs/three_bed_housing.csv')
four_bed_data = pd.read_csv('Outputs/four_bed_housing.csv')
four_b_two_bath_data = pd.read_csv('Outputs/four_bed_two_bath_housing.csv')
#purchase_data

In [4]:
complete_data

,Unnamed: 0,ID,Date,Iron_Price,Silver_Price,Gold_Price,Copper_Price,S&P_GSCI_Price,SUBURB,PRICE,BEDROOMS,BATHROOMS,POSTCODE,CITY
0,0,1,2007-01,36.63,13.36,650.50,13.36,"5,498.77",Bass Hill,350000,3.0,2,2197,Sydney
1,1,2,2007-01,36.63,13.36,650.50,13.36,"5,498.77",Ermington,470000,2.0,1,2115,Sydney
2,2,3,2007-01,36.63,13.36,650.50,13.36,"5,498.77",Ermington,435000,3.0,2,2115,Sydney
3,3,4,2007-01,36.63,13.36,650.50,13.36,"5,498.77",Rydalmere,430000,4.0,2,2116,Sydney
4,4,5,2007-01,36.63,13.36,650.50,13.36,"5,498.77",Rydalmere,420000,3.0,1,2116,Sydney
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223708,223708,223709,2019-06,112.90,15.22,"1,409.00",15.22,"2,497.37",Victoria Park,594000,3.0,2,6100,Perth
223709,223709,223710,2019-06,112.90,15.22,"1,409.00",15.22,"2,497.37",Bayswater,565000,3.0,1,6053,Perth
223710,223710,223711,2019-06,112.90,15.22,"1,409.00",15.22,"2,497.37",Iluka,695000,4.0,2,6028,Perth
223711,223711,223712,2019-06,112.90,15.22,"1,409.00",15.22,"2,497.37",Alfred Cove,557000,3.0,2,6154,Perth
223712,223712,223713,2019-06,112.90,15.22,"1,409.00",15.22,"2,497.37",Bicton,970000,4.0,2,6157,Perth